<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <h2>Phones</h2>
  <div class="container">
    <%= nested_fields(f, :phones) %>
  </div>
  <a href="#" class="add">add phone</a>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
