<fieldset class="item">
  <div class="field">
    <%= f.label :where %>
    <%= f.text_field :where %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>    
  </div>
  
  <a href="#" class="remove">remove</a>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :_destroy %>
</fieldset>